<a class="btn btn-success" [routerLink]="['/admin/add-category']" routerLinkActive="router-link-active">Add category</a>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Category Name</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td>
                <a href="" class="btn btn-success">Eidt</a>
                <a href="" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>